# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pkl
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Env file (DO NOT PUSH)
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uvicorn reload artifacts
*.db
*.sqlite

# Optional: other IDE/editor folders
*.swp
*.swo
